<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mbgplus.three.mapper.TenementDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.generator.mbgplus.three.model.entity.TenementDevice">
                <id column="id" property="id"/>
                <result column="tenement" property="tenement"/>
                <result column="floor" property="floor"/>
                <result column="region" property="region"/>
                <result column="device_id" property="deviceId"/>
                <result column="device_type" property="deviceType"/>
                <result column="device_address" property="deviceAddress"/>
                <result column="cpn_name" property="cpnName"/>
                <result column="remark" property="remark"/>
                <result column="device_positions" property="devicePositions"/>
                <result column="x" property="x"/>
                <result column="y" property="y"/>
                <result column="is_del" property="isDel"/>
                <result column="create_time" property="createTime"/>
                <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenement, floor, region, device_id, device_type, device_address, cpn_name, remark, device_positions, x, y, is_del, create_time, update_time
    </sql>
</mapper>
